\documentclass[a4paper,{{ size }}]{letter}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{geometry}
\geometry{margin=3.5cm}

{% if font == 'times' %}
\usepackage{mathptmx}
{% elif font == 'fourier' %}
\usepackage{fourier}
{% elif font == 'euler' %}
\usepackage{eulervm}
{% endif %}

\begin{document}

\begin{letter}{}
\opening{ {{ introduction }} }

{{ body }}

\closing{ {{ closing }} }

\end{letter}
\end{document}
