\documentclass[{{ size }}]{letter}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[ngerman]{babel}
\usepackage{textcomp}
\usepackage{graphicx}
\pagestyle{empty}
\usepackage[scale={{ scale }}]{geometry}
\setlength{\parindent}{0pt}
\addtolength{\parskip}{6pt}
\renewcommand{\ttdefault}{pcr}

{% if font == 'times' %}
\usepackage{mathptmx}
{% elif font == 'fourier' %}
\usepackage{fourier}
{% elif font == 'euler' %}
\usepackage{eulervm}
{% endif %}

\begin{document}
\begin{letter}{ \itshape Bewerbung auf die Stelle als {{ title }} }
\hfill
\begin{flushleft}
    {\bfseries {{ name }} }\\[.35ex]
    \small\itshape
    {{ address }}\\
    Telefonnummer: {{ phone }}\\
    {{ email }}
\end{flushleft}

\hfill
\begin{flushright}
    \itshape {{ company_name }} \\
\end{flushright}

\opening{ {{ introduction }} }

{{ body }}

\closing{ {{ closing }} }

\end{letter}
\end{document}
